@import "../dist/index.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.test-webkit-sassui-layout-fixed-footer {
  > .is-header {
    background: #eee;
    line-height: 50px;
    text-align: center;

    button {
      background: #4cd964;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-left: 20px;
      padding: 10px 20px;
    }
  }

  @include webkit-sassui-layout-fixed-header();
}
