/*wsui-layout-fixed-header Start*/
@mixin wsui-layout-fixed-header($in-height: 50px, $in-gap: 10px) {
  $padding-top: $in-height + $in-gap;

  &[data-hasbar="true"] {
    padding-top: $padding-top;
  }

  &[data-hasbar="false"] {
    padding-top: 0;
    > .is-header {
      display: none;
    }
  }

  > .is-header {
    position: fixed;
    height: $in-height;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
/*wsui-layout-fixed-header End*/
